* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #01161e;
  color: #eff6e0;
}

p,
a,
li {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
}

#header {
  padding: 10px;
  width: 80%;
  margin: auto;
}

#main-title {
  font-family: "Source Code Pro", monospace;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

#header-content {
  background-color: #02222e;
  border-radius: 15px;
  padding: 10px;
  width: 70%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#image-container {
  border-radius: 100%;
  display: inline-block;
  width: 210px;
  height: 210px;
  background-color: #124559;
  border: 1px solid #598392;
  vertical-align: top;
}

#description-container {
  display: inline-block;
  height: 210px;
  width: 420px;
}

.minha-foto {
  border-radius: 100%;
  padding: 5px;
  width: 200px;
  text-align: center;
}

.description {
  width: 95%;
  margin: auto;
  margin-top: 30px;
}

.titles {
  font-family: "Source Code Pro", monospace;
  font-size: 30px;
  text-align: center;
  max-width: 70%;
  margin: auto;
  margin-bottom: 20px;
}

#skills-container {
  padding: 10px;
  width: 80%;
  margin: auto;
}

#skills {
  background-color: #02222e;
  border-radius: 15px;
  line-height: 50px;
  text-align: center;
  max-width: 72%;
  margin: auto;
  list-style-type: none;
}

#gitgithub {
  font-size: 16px;
  font-style: italic;
}

#gitgithub:hover {
  background-color: #124559;
  border-radius: 15px 15px 0px 0px;
  font-size: x-large;
  transition: 0.4s;
}

#html {
  font-size: 18px;
}

#css {
  font-size: 13px;
  font-style: italic;
}

#css:hover {
  background-color: #124559;
  font-size: x-large;
  transition: 0.4s;
}

#javascript {
  font-size: 23px;
}

#sheets {
  font-size: 25px;
  font-style: italic;
}

#sheets:hover {
  background-color: #124559;
  border-radius: 0px 0px 15px 15px;
  font-size: xx-large;
  transition: 0.4s;
}

#blog {
  margin-bottom: 25px;
  text-decoration: none;
  color: #eff6e0;
}
